/* *{
    margin: 0px;
    padding: 0px;
} */
p{
    background-color: #f1f1f1;
    color: tomato;
}

/* class selector */
.one{
    background-color: #000;
    color: #f1f1f1;
}

/* id selector */
#two{
    background-color: yellowgreen;
    color: bisque;
}

/* Attribute selector */
input[type="text"],input[type="password"]{
    margin: 10px;
    padding: 10px;
    background-color: #f1f1f1;
}

/* psedudo selector */
button:hover{
    background-color: black;
    color: #f1f1f1;
    text-decoration: underline;
    padding: 10px;
    margin:2px;
    border-radius: 3px;
    border: 5px dashed goldenrod;
}
/* button:visited{
    background-color: red;
    color: black;
} */


 /* LIST SELECTOR */
 h1,h2{
    background-color: yellow;
 }


 .style{
    color: #fff;
    background-color: #000;
    padding: 20px 30px 40px 30px;
    /* padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding: 100px; */
    border: 5px solid red;
    /* border-width: 5px;
    border-style: solid;
    border-color: red; */
 }

 /* background image url */
 body{
    background-color: #3a3a3a;
 }
 .txt{
    text-decoration:underline;
    text-transform: capitalize;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    font-style: italic;
    font-weight: 300;
    background-color: red;
    color: #fff;
    line-height: 17px;
 }
 label{
    color: #fff;
 }
 form{
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
    text-transform: capitalize;
    
 }
 .txt:hover{
    background-color: #000;
    color: #fff;
    text-decoration: line-through;
 }
 

 /* Flex Box */
 .conteiner{
    display: flex;
    flex-direction: row;
    /* flex-direction: column;
    align-items: center; */
    justify-content: center;
    gap: 10px;
    
 }
 .box{
    height: 100px;
    width: 100px;
    border: 1px solid #fff;
    margin: 5px;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 
 /* Grid */
 .con-grid{
    display: grid;
    /* grid-template-columns: 250px 250px auto; */
    grid-template-columns: repeat(3, auto);
    /* grid-template-rows: repeat(3,auto); */
    gap: 10px 20px;
    /* row-gap: 10px;
    column-gap: 20px; */
    grid-template-rows: 120px 120px 120px;
 }
 .grid-item{
    height: 100px;
    /* width: 100px; */
    border: 1px solid #fff;
    color: #f1f1f1;
 }
 .aaa{
    grid-column-start: 1;
    grid-column-end: 4;
 }
 /* .on{
    grid-column-start: 2;
    grid-column-end: 4;
 } */
 .q{
    grid-row-start: 2;
    grid-row-end: 4;
 }